@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  text-align: center;
  display: block;
  padding: 5vh;
}

.NavigationMenuList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2vh 5vw;
  padding: 3vh 0vw;
  border: 2px solid black;
}

.NavigationMenuTrigger {
  min-width: 200px;
}

.NavigationMenuLink {
  width: 200px;
  display: block;
  text-align: center;
}

.NavigationMenuLink:hover,
.NavigationMenuTrigger:hover {
  text-decoration: underline;
}

.List-one {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  margin-left: 18vw;
  position: fixed;
}

.List-two {
  display: flex;
  flex-direction: column;
  margin-left: 47vw;
  position: fixed;
}

.Link {
  margin: 10px 0px;
  background-color: white;
  padding: 10px;
}

.Link:hover {
  text-decoration: underline;
}

#transcript {
  margin-bottom: 1rem;
  font-size: 1.5;
}

button {
  background-color: blueviolet;
  color: #eee;
  padding: 0.5 1rem;
  border: none;
  border-radius: 0.25rem;
}

button:hover {
  background-color: blueviolet;
  cursor: pointer;
}

.colourful-background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
